attrs==20.3.0
beautifulsoup4==4.9.3
freezegun==1.1.0
iniconfig==1.1.1
lxml==4.6.3
mock==4.0.3
packaging==20.9
pika==1.2.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.3
soupsieve==2.2.1
toml==0.10.2
sentry-sdk==1.5.10
