version: 2.1
executors:
  my-custom-executor:
    docker:
      - image: cimg/python:3.8.12
      
jobs:
  epp-python-client-job:

    executor: my-custom-executor
    steps:
      - checkout
      - run: |
          make clean venv test

workflows:
  my-custom-workflow:
    jobs:
      - epp-python-client-job
